<div class="col-sm-12 col-lg-3" id="filters">
    <h5>Filter by: </h5>
    <form method="POST" action="/">
        <div class="form-check">
            <input id="picture" class="form-check-input" type="checkbox" value="yes" name="filters[main_photo]" {{#if pic}}checked{{/if}}>
            <label class="form-check-label" for="has_picture">
                Picture
            </label>
        </div>
        <div class="form-check">
            <input id="in_contact" class="form-check-input" type="checkbox" value="yes" name="filters[contacts_exchanged]" {{#if cont}}checked{{/if}}>
            <label class="form-check-label" for="in_contact">
                In Contact
            </label>
        </div>
        <div class="form-check">
            <input id="favourite" class="form-check-input" type="checkbox" value="yes" name="filters[favourite]" id="favourite" {{#if fav}}checked{{/if}}>
            <label class="form-check-label" for="favourite">
                Favourite
            </label>
        </div>
        <div class="form-group">
            <label for="compatibility">
                Compatibility:
            </label>
            <input type="text" class="sliders" data-min="1" data-max="99" data-from="{{#if min_compatibility}}{{min_compatibility}}{{else}}1{{/if}}" data-to="{{#if max_compatibility}}{{max_compatibility}}{{else}}99{{/if}}" name="compatibility_score" />
        </div>
        <div class="form-group">
            <label for="formControlRange">
                Age:
            </label>
            <input type="text" class="sliders" data-min="18" data-max="95" data-from="{{#if min_age}}{{min_age}}{{else}}18{{/if}}" data-to="{{#if max_age}}{{max_age}}{{else}}95{{/if}}" name="age" />
        </div>
        <div class="form-group">
            <label for="formControlRange">
                Height in CM:
            </label>
            <input type="text" class="sliders" data-min="135" data-max="210" data-from="{{#if min_height}}{{min_height}}{{else}}135{{/if}}" data-to="{{#if max_height}}{{max_height}}{{else}}210{{/if}}" name="height_in_cm" />
        </div>

        <input type="hidden" id="height_in_cm_min" name="filters[height_in_cm][min]">
        <input type="hidden" id="height_in_cm_max" name="filters[height_in_cm][max]">
        <input type="hidden" id="age_min" name="filters[age][min]">
        <input type="hidden" id="age_max" name="filters[age][max]">
        <input type="hidden" id="compatibility_score_min" name="filters[compatibility_score][min]">
        <input type="hidden" id="compatibility_score_max" name="filters[compatibility_score][max]">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <label for="distance"> Distance in KM </label>
        <select id="distance" name="filters[distance]" class="form-control">
            <option value="0"> All </option>
            <option {{#eq distance '30000'}}selected{{/eq}} value="30000">Less than 30 km</option>
            <option {{#eq distance '300000'}}selected{{/eq}} value="300000">More than 300 km</option>
        </select>
        <button id="search" type="submit" class="btn btn-primary m-2">Search</button>
    </form>
</div>
